.create-list-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.card {
  background-color: var(--color-bg-card);
  color: var(--color-text-primary);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  display:flex;
  flex-direction: column;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap:0.5rem;
  margin-bottom:1rem;
  label{
    width:80%;
  }
  input{
    width:unset;
  }
}

.form-text {
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}




