.media-card {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.media-card-image-container {
  position: relative;
  padding-top: 150%;
}

.media-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-card-footer {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .media-card-title {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
  }
  .media-card-text {
    margin: 0;
    color: var(--color-text-secondary);
    font-size: 0.8rem;
  }
}


